{% extends "base.html" %}
{% block content %}
<style>
  body {
      background-color: #121212;
      color: #ffffff;
  }
  
  .table-bordered th,
  .table-bordered td {
      border: 2px solid black !important;
  }

  .card {
      background-color: #1e1e1e;
      border: none;
  }

  .form-label {
      color: #b3b3b3;
  }

  .form-control {
      background-color: #333;
      color: #ffffff;
      border: 1px solid #444;
  }

  .form-control:focus {
      background-color: #444;
      color: #ffffff;
      border-color: #777;
      box-shadow: none;
  }

  .btn-success {
      background-color: #28a745;
      border: none;
  }

  .btn-success:hover {
      background-color: #218838;
  }
</style>

<div class='container mt-5'>
    <form class='col-6 mx-auto card p-3 shadow-lg' method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        <h1>Update Recipe</h1>
        <br>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
            <input name='receipe_name' value="{{receipe.receipe_name}}" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
            <textarea name='receipe_description' required class='form-control'>{{receipe.receipe_description}}</textarea>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
            <input name='receipe_image' type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Update Recipe</button>
    </form>        
</div>

{% endblock %}
