<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{page}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            /* Styling the h1 tag */
            header h1 {
                font-family: 'Arial', sans-serif;
                font-size: 2.5rem;
                font-weight: bold;
                text-align: center;
                color: blue; /* Customize color */
                padding: 20px;
                margin-top: 20px;
            }

            .navbar-brand {
                color: white; 
            }
        </style>

    </head>
    <body>
        <header>

            <nav class="navbar p-3 bg-dark shadow-lg">
                <div class="container-fluid">
                    <p class="navbar-brand">Navbar</p>
                    {% if request.user.is_authenticated %}
                    <a href='/logout-page/' class="btn btn-success">Logout</a>
                    {% else %}
                    <a href='/login-page/' class="btn btn-success">Login</a>
                    {% endif %}
                </div>
            </nav>
            

            <h1>Receipe Project Built By Yousuf Shah</h1>
            {% comment %} <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav> {% endcomment %}
        </header>
        <div>
            {% block content %}{% endblock %}
        </div>
        {% comment %} <footer style='background:black;  color:white';>
            This is a Footer Section
        </footer> {% endcomment %}
    </body>
</html>